<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="version" value="SandGround ©1995~2019 Version:[20190421] v4.4"/>
      <add key="value" value="Un-Visual Code Studio x64 x32 .Net Framework 4.7.2"/>
      <add key="ways" value="5"/>
      <add key="way1" value="Form"/>
      <add key="way2" value="Button"/>
      <add key="way3" value="WebBrowser"/>
      <add key="way4" value="MessageBox"/>
      <add key="way5" value="Function"/>
    </appSettings>
</configuration>