<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="Theme" value=""/>
    <add key="HomePath" value="http://www.baidu.com"/>
    <add key="ItemMostWidth" value="80"/>
  </appSettings>
</configuration>
