<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControl" version="2.5.0.2" targetFramework="net48" />
  <package id="Lierda.WPFHelper" version="1.0.3" targetFramework="net48" />
  <package id="MaterialDesignColors" version="1.2.6" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="3.1.3" targetFramework="net48" />
</packages>