<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.35" targetFramework="net48" />
  <package id="cef.redist.x86" version="79.1.35" targetFramework="net48" />
  <package id="CefSharp.Common" version="79.1.350" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="79.1.350" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Panuon.UI.Silver" version="1.0.9.5" targetFramework="net48" />
</packages>