<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="LastLocation" value="CenterScreen"/>
    <add key="LastSize" value="1024,768"/>
    <add key="ToolsLocation" value="C:\Zkit\Tools\"/>
  </appSettings>
</configuration>