<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="IsCloserToClose" value="1"/>
    <add key ="ConnString" value ="Data Source=127.0.0.1;initial Catalog=DESKTOP-5KIA92Q; user=sa; Password=123456;Pooling=true" />
  </appSettings>
</configuration>