<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="un" value=""/>
    <add key="up" value=""/>
    <add key="usp" value=""/>
    <add key="ut" value="f"/>
    <add key="pd" value=""/>
    <add key="jz" value=""/>
    <add key="a1" value=""/>
    <add key="a2" value=""/>
    <add key="b1" value=""/>
    <add key="b2" value=""/>
    <add key="c1" value=""/>
    <add key="c2" value=""/>
    <add key="d1" value=""/>
    <add key="d2" value=""/>
    <add key="e1" value=""/>
    <add key="e2" value=""/>
    <add key="f1" value=""/>
    <add key="f2" value=""/>
    <add key="g1" value=""/>
    <add key="g2" value=""/>
    <add key="h1" value=""/>
    <add key="h2" value=""/>
    <add key="i1" value=""/>
    <add key="i2" value=""/>
    <add key="j1" value=""/>
    <add key="j2" value=""/>
    <add key="k1" value=""/>
    <add key="k2" value=""/>
    <add key="l1" value=""/>
    <add key="l2" value=""/>
    <add key="version" value="2.1.4Beta"/>
    <add key="jihuo" value="n"/>
  </appSettings>
</configuration>