<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--必填-->
    <add key="appId" value="5cd517d1" />
    <!--语音合成的apikey-->
    <add key="apiKeyTTS" value="d7c86e12c50d8d3a37a3dbe5ff53458f" />
    <!--语音听写的apikey-->
    <add key="apiKeySTT" value="a953722d95e83a128fa13e5401051845" />
    <!--选填-->
    <add key="realIp" value="" />
    <!--语音合成X-Param-->
    <add key="aufTTS" value="audio/L16;rate=16000"/>
    <add key="aueTTS" value="raw"/>
    <add key="voice_nameTTS" value="xiaoyan"/>
    <add key="speedTTS" value="50"/>
    <add key="volumeTTS" value="50"/>
    <add key="pitchTTS" value="50"/>
    <add key="engine_typeTTS" value="intp65"/>
    <add key="text_typeTTS" value="text"/>
    <!--语音听写X-Param-->
    <!--必选-->
    <add key="engine_typeSTT" value="sms16k"/>
    <!--这个暂时不能改其他，因为程序逻辑中没有对它进行处理-->
    <add key="aueSTT" value="raw"/>
    <!--可选。在程序中没有处理逻辑，因此在这里设置无效-->
    <add key="speex_sizeSTT" value="60"/>
    <add key="sceneSTT" value="main"/>
    <add key="vad_eosSTT" value="2000"/>
  </appSettings>
  
</configuration>