<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.35" targetFramework="net48" />
  <package id="cef.redist.x86" version="79.1.35" targetFramework="net48" />
  <package id="CefSharp.Common" version="79.1.350" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="79.1.350" targetFramework="net48" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net48" />
  <package id="Panuon.UI.Silver" version="1.0.9.5" targetFramework="net48" />
</packages>